/* Style de base pour la scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

/* Style pour la poignée de la scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #4a4a50;
    /* Couleur par défaut */
    border-radius: 10px;
}

/* Style pour la track (la piste) de la scrollbar */
.theme-dark ::-webkit-scrollbar-track {
    background: #09090b;
}

.theme-light ::-webkit-scrollbar-track {
    background: #ffffff;
}

.theme-dark ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

.theme-light ::-webkit-scrollbar-thumb {
    background-color: #2e2e30;
}



/* Animation Button for Card Dashboard */
.is-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s ease;
}

.is-visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 0s, opacity 0.2s ease;
}

/* Définissez vos transitions CSS */
.fade-enter-from, .fade-leave-to {
    opacity: 0;
}

.fade-enter-to, .fade-leave-from {
    opacity: 1;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.2s ease;
}